html {
    background-color: antiquewhite;
    background-image: url("fond.png");
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

body {
    padding-bottom: 10px;
    margin: 30px;
    background-color: white;
    border-radius: 30px 30px 0 0;
}

.subtitle {
    margin: 20px;
}

.box {
    background-color: #bbe0ff;
    margin: 20px;
}

.box .box {
    background-color: white;
}


.header {
    padding: 20px 20px 0 20px;
    background-color: #ffCC39;
    border-radius: 30px 30px 0 0;
}

.title {
    display: flex;
    align-items: center;
    text-align: center;
}


img {
    border-radius: 10px 10px 10px 10px;
    margin: 0 10px 0 0;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px 0 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #4A1378;
}

/* Style pour le formulaire de filtres */
#filter-form {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

#filter-form h4 {
    margin-top: 0;
}

#filter-form label {
    display: block;
    margin-bottom: 5px;
}

#filter-form button {
    margin-top: 10px;
}

.fa-filter {
    cursor: pointer;
    margin-bottom: 10px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
}

.filter-column {
    flex: 1;
    margin-right: 20px;
}

.filter-column:last-child {
    margin-right: 0;
}

.filter-icon {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    font-size: 18px;
}

.similar-spectacles {
    display: flex;
    justify-content: space-between;
}

.similar-spectacles .box {
    flex: 1;
    margin: 10px;
}

.similar-spectacles .box:first-child {
    margin-left: 20px;
}

.similar-spectacles .box:last-child {
    margin-right: 20px;
}

.titre-similaires {
    margin-bottom: 5px !important;
    margin-top: 30px !important;
}